In [5]:
import pandas as pd
from sklearn import preprocessing
from mlxtend.frequent_patterns import apriori, association_rules
from sklearn.model_selection import train_test_split, cross_val_score
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score
import matplotlib.pyplot as plt

In [4]:
!pip install mlxtend

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: mlxtend in /usr/local/lib/python3.8/dist-packages (0.14.0)
Requirement already satisfied: numpy>=1.10.4 in /usr/local/lib/python3.8/dist-packages (from mlxtend) (1.21.6)
Requirement already satisfied: pandas>=0.17.1 in /usr/local/lib/python3.8/dist-packages (from mlxtend) (1.3.5)
Requirement already satisfied: scipy>=0.17 in /usr/local/lib/python3.8/dist-packages (from mlxtend) (1.7.3)
Requirement already satisfied: setuptools in /usr/local/lib/python3.8/dist-packages (from mlxtend) (57.4.0)
Requirement already satisfied: matplotlib>=1.5.1 in /usr/local/lib/python3.8/dist-packages (from mlxtend) (3.2.2)
Requirement already satisfied: scikit-learn>=0.18 in /usr/local/lib/python3.8/dist-packages (from mlxtend) (1.0.2)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.8/dist-packages (from matplotlib>=1.5.1->mlxtend) (1.4.4)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.8/dist-packages (from matplotlib>=1.5.1->mlxtend) (0.11.0)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.8/dist-packages (from matplotlib>=1.5.1->mlxtend) (2.8.2)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.8/dist-packages (from matplotlib>=1.5.1->mlxtend) (3.0.9)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.8/dist-packages (from pandas>=0.17.1->mlxtend) (2022.6)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.8/dist-packages (from python-dateutil>=2.1->matplotlib>=1.5.1->mlxtend) (1.15.0)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.8/dist-packages (from scikit-learn>=0.18->mlxtend) (1.2.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.8/dist-packages (from scikit-learn>=0.18->mlxtend) (3.1.0)

In [40]:
df = pd.read_csv('basket.csv')

In [13]:
d = df.copy()

In [14]:
d.head()

,cardid,value,pmethod,sex,homeown,income,age,fruitveg,freshmeat,dairy,cannedveg,cannedmeat,frozenmeal,beer,wine,softdrink,fish,confectionery
0,39808,42.7123,CHEQUE,M,NO,27000,46,F,T,T,F,F,F,F,F,F,F,T
1,67362,25.3567,CASH,F,NO,30000,28,F,T,F,F,F,F,F,F,F,F,T
2,10872,20.6176,CASH,M,NO,13200,36,F,F,F,T,F,T,T,F,F,T,F
3,26748,23.6883,CARD,F,NO,12200,26,F,F,T,F,F,F,F,T,F,F,F
4,91609,18.8133,CARD,M,YES,11000,24,F,F,F,F,F,F,F,F,F,F,F

In [12]:
df.head()

,cardid,value,pmethod,sex,homeown,income,age,fruitveg,freshmeat,dairy,cannedveg,cannedmeat,frozenmeal,beer,wine,softdrink,fish,confectionery
0,39808,42.7123,CHEQUE,M,NO,27000,46,F,T,T,F,F,F,F,F,F,F,T
1,67362,25.3567,CASH,F,NO,30000,28,F,T,F,F,F,F,F,F,F,F,T
2,10872,20.6176,CASH,M,NO,13200,36,F,F,F,T,F,T,T,F,F,T,F
3,26748,23.6883,CARD,F,NO,12200,26,F,F,T,F,F,F,F,T,F,F,F
4,91609,18.8133,CARD,M,YES,11000,24,F,F,F,F,F,F,F,F,F,F,F

In [20]:
df = df.iloc[:, 7:]
df.head()

,fruitveg,freshmeat,dairy,cannedveg,cannedmeat,frozenmeal,beer,wine,softdrink,fish,confectionery
0,F,T,T,F,F,F,F,F,F,F,T
1,F,T,F,F,F,F,F,F,F,F,T
2,F,F,F,T,F,T,T,F,F,T,F
3,F,F,T,F,F,F,F,T,F,F,F
4,F,F,F,F,F,F,F,F,F,F,F

In [24]:
df = df.replace({"T": 1})
df = df.replace({"F": 0})

In [25]:
freq = apriori(df, min_support = 0.25, use_colnames = True)

In [26]:
freq

   support         itemsets
0    0.299       (fruitveg)
1    0.303      (cannedveg)
2    0.302     (frozenmeal)
3    0.293           (beer)
4    0.287           (wine)
5    0.292           (fish)
6    0.276  (confectionery)

In [65]:
df = pd.read_csv("zoo.csv.data", header = None)

In [66]:
df.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17
0,aardvark,1,0,0,1,0,0,1,1,1,1,0,0,4,0,0,1,1
1,antelope,1,0,0,1,0,0,0,1,1,1,0,0,4,1,0,1,1
2,bass,0,0,1,0,0,1,1,1,1,0,0,1,0,1,0,0,4
3,bear,1,0,0,1,0,0,1,1,1,1,0,0,4,0,0,1,1
4,boar,1,0,0,1,0,0,1,1,1,1,0,0,4,1,0,1,1

In [67]:
d = df.copy()

In [68]:
d.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17
0,aardvark,1,0,0,1,0,0,1,1,1,1,0,0,4,0,0,1,1
1,antelope,1,0,0,1,0,0,0,1,1,1,0,0,4,1,0,1,1
2,bass,0,0,1,0,0,1,1,1,1,0,0,1,0,1,0,0,4
3,bear,1,0,0,1,0,0,1,1,1,1,0,0,4,0,0,1,1
4,boar,1,0,0,1,0,0,1,1,1,1,0,0,4,1,0,1,1

In [69]:
col = ["animal_name", "hair", "feathers", "eggs", "milk", "airborne", "aquatic" , "predator", "toothed", "backbone", "breathes", "venomous", "fins", "legs", "tail", "domestic", "catsize", "type"]

In [70]:
df.columns = col

In [71]:
df = df.iloc[:, 1:]
df.head()

,hair,feathers,eggs,milk,airborne,aquatic,predator,toothed,backbone,breathes,venomous,fins,legs,tail,domestic,catsize,type
0,1,0,0,1,0,0,1,1,1,1,0,0,4,0,0,1,1
1,1,0,0,1,0,0,0,1,1,1,0,0,4,1,0,1,1
2,0,0,1,0,0,1,1,1,1,0,0,1,0,1,0,0,4
3,1,0,0,1,0,0,1,1,1,1,0,0,4,0,0,1,1
4,1,0,0,1,0,0,1,1,1,1,0,0,4,1,0,1,1

In [100]:
one = pd.get_dummies(df, columns = ["legs", "type"])
y = pd.concat([df, one], axis = 1)
# y.drop("legs", "type")
y

,hair,feathers,eggs,milk,airborne,aquatic,predator,toothed,backbone,breathes,...,legs_5,legs_6,legs_8,type_1,type_2,type_3,type_4,type_5,type_6,type_7
0,1,0,0,1,0,0,1,1,1,1,...,0,0,0,1,0,0,0,0,0,0
1,1,0,0,1,0,0,0,1,1,1,...,0,0,0,1,0,0,0,0,0,0
2,0,0,1,0,0,1,1,1,1,0,...,0,0,0,0,0,0,1,0,0,0
3,1,0,0,1,0,0,1,1,1,1,...,0,0,0,1,0,0,0,0,0,0
4,1,0,0,1,0,0,1,1,1,1,...,0,0,0,1,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96,1,0,0,1,0,0,0,1,1,1,...,0,0,0,1,0,0,0,0,0,0
97,1,0,1,0,1,0,0,0,0,1,...,0,1,0,0,0,0,0,0,1,0
98,1,0,0,1,0,0,1,1,1,1,...,0,0,0,1,0,0,0,0,0,0
99,0,0,1,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,1
100,0,1,1,0,1,0,0,0,1,1,...,0,0,0,0,1,0,0,0,0,0

In [101]:
y.drop(["legs", "type"], axis = 1, inplace = True)
y

,hair,feathers,eggs,milk,airborne,aquatic,predator,toothed,backbone,breathes,...,legs_5,legs_6,legs_8,type_1,type_2,type_3,type_4,type_5,type_6,type_7
0,1,0,0,1,0,0,1,1,1,1,...,0,0,0,1,0,0,0,0,0,0
1,1,0,0,1,0,0,0,1,1,1,...,0,0,0,1,0,0,0,0,0,0
2,0,0,1,0,0,1,1,1,1,0,...,0,0,0,0,0,0,1,0,0,0
3,1,0,0,1,0,0,1,1,1,1,...,0,0,0,1,0,0,0,0,0,0
4,1,0,0,1,0,0,1,1,1,1,...,0,0,0,1,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96,1,0,0,1,0,0,0,1,1,1,...,0,0,0,1,0,0,0,0,0,0
97,1,0,1,0,1,0,0,0,0,1,...,0,1,0,0,0,0,0,0,1,0
98,1,0,0,1,0,0,1,1,1,1,...,0,0,0,1,0,0,0,0,0,0
99,0,0,1,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,1
100,0,1,1,0,1,0,0,0,1,1,...,0,0,0,0,1,0,0,0,0,0

In [102]:
y.head()

,hair,feathers,eggs,milk,airborne,aquatic,predator,toothed,backbone,breathes,...,legs_5,legs_6,legs_8,type_1,type_2,type_3,type_4,type_5,type_6,type_7
0,1,0,0,1,0,0,1,1,1,1,...,0,0,0,1,0,0,0,0,0,0
1,1,0,0,1,0,0,0,1,1,1,...,0,0,0,1,0,0,0,0,0,0
2,0,0,1,0,0,1,1,1,1,0,...,0,0,0,0,0,0,1,0,0,0
3,1,0,0,1,0,0,1,1,1,1,...,0,0,0,1,0,0,0,0,0,0
4,1,0,0,1,0,0,1,1,1,1,...,0,0,0,1,0,0,0,0,0,0

In [103]:
freq_y = apriori(y, min_support = 0.5, use_colnames = True)

In [104]:
freq_y

      support                    itemsets
0    0.584158                      (eggs)
1    0.554455                  (predator)
2    0.603960                   (toothed)
3    0.821782                  (backbone)
4    0.792079                  (breathes)
..        ...                         ...
112  0.514851   (backbone, toothed, tail)
113  0.594059  (backbone, tail, breathes)
114  0.594059  (backbone, tail, breathes)
115  0.514851   (backbone, toothed, tail)
116  0.594059  (backbone, tail, breathes)

[117 rows x 2 columns]

In [105]:
freq_association = association_rules(freq_y, metric = "confidence", min_threshold = 0.5)

In [106]:
freq_association

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(backbone),(toothed),0.821782,0.603960,0.603960,0.734940,1.216867,0.107637,1.494149
1,(toothed),(backbone),0.603960,0.821782,0.603960,1.000000,1.216867,0.107637,inf
2,(toothed),(tail),0.603960,0.742574,0.514851,0.852459,1.147978,0.066366,1.744774
3,(tail),(toothed),0.742574,0.603960,0.514851,0.693333,1.147978,0.066366,1.291433
4,(backbone),(breathes),0.821782,0.792079,0.683168,0.831325,1.049548,0.032252,1.232673
5,(breathes),(backbone),0.792079,0.821782,0.683168,0.862500,1.049548,0.032252,1.296130
6,(backbone),(tail),0.821782,0.742574,0.732673,0.891566,1.200643,0.122439,2.374037
7,(tail),(backbone),0.742574,0.821782,0.732673,0.986667,1.200643,0.122439,13.366337
8,(tail),(breathes),0.742574,0.792079,0.603960,0.813333,1.026833,0.015783,1.113861
9,(breathes),(tail),0.792079,0.742574,0.603960,0.762500,1.026833,0.015783,1.083898
10,"(backbone, toothed)",(tail),0.603960,0.742574,0.514851,0.852459,1.147978,0.066366,1.744774
11,"(backbone, tail)",(toothed),0.732673,0.603960,0.514851,0.702703,1.163491,0.072346,1.332133
12,"(toothed, tail)",(backbone),0.514851,0.821782,0.514851,1.000000,1.216867,0.091756,inf
13,(backbone),"(toothed, tail)",0.821782,0.514851,0.514851,0.626506,1.216867,0.091756,1.298946
14,(toothed),"(backbone, tail)",0.603960,0.732673,0.514851,0.852459,1.163491,0.072346,1.811881
15,(tail),"(backbone, toothed)",0.742574,0.603960,0.514851,0.693333,1.147978,0.066366,1.291433
16,"(backbone, tail)",(breathes),0.732673,0.792079,0.594059,0.810811,1.023649,0.013724,1.099010
17,"(backbone, breathes)",(tail),0.683168,0.742574,0.594059,0.869565,1.171014,0.086756,1.973597
18,"(tail, breathes)",(backbone),0.603960,0.821782,0.594059,0.983607,1.196919,0.097736,10.871287
19,(backbone),"(tail, breathes)",0.821782,0.603960,0.594059,0.722892,1.196919,0.097736,1.429186
20,(tail),"(backbone, breathes)",0.742574,0.683168,0.594059,0.800000,1.171014,0.086756,1.584158
21,(breathes),"(backbone, tail)",0.792079,0.732673,0.594059,0.750000,1.023649,0.013724,1.069307

In [107]:
one

,hair,feathers,eggs,milk,airborne,aquatic,predator,toothed,backbone,breathes,...,legs_5,legs_6,legs_8,type_1,type_2,type_3,type_4,type_5,type_6,type_7
0,1,0,0,1,0,0,1,1,1,1,...,0,0,0,1,0,0,0,0,0,0
1,1,0,0,1,0,0,0,1,1,1,...,0,0,0,1,0,0,0,0,0,0
2,0,0,1,0,0,1,1,1,1,0,...,0,0,0,0,0,0,1,0,0,0
3,1,0,0,1,0,0,1,1,1,1,...,0,0,0,1,0,0,0,0,0,0
4,1,0,0,1,0,0,1,1,1,1,...,0,0,0,1,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96,1,0,0,1,0,0,0,1,1,1,...,0,0,0,1,0,0,0,0,0,0
97,1,0,1,0,1,0,0,0,0,1,...,0,1,0,0,0,0,0,0,1,0
98,1,0,0,1,0,0,1,1,1,1,...,0,0,0,1,0,0,0,0,0,0
99,0,0,1,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,1
100,0,1,1,0,1,0,0,0,1,1,...,0,0,0,0,1,0,0,0,0,0

In [110]:
one = one.iloc[:, :22]

In [111]:
one

,hair,feathers,eggs,milk,airborne,aquatic,predator,toothed,backbone,breathes,...,tail,domestic,catsize,legs_0,legs_2,legs_4,legs_5,legs_6,legs_8,type_1
0,1,0,0,1,0,0,1,1,1,1,...,0,0,1,0,0,1,0,0,0,1
1,1,0,0,1,0,0,0,1,1,1,...,1,0,1,0,0,1,0,0,0,1
2,0,0,1,0,0,1,1,1,1,0,...,1,0,0,1,0,0,0,0,0,0
3,1,0,0,1,0,0,1,1,1,1,...,0,0,1,0,0,1,0,0,0,1
4,1,0,0,1,0,0,1,1,1,1,...,1,0,1,0,0,1,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96,1,0,0,1,0,0,0,1,1,1,...,1,0,1,0,1,0,0,0,0,1
97,1,0,1,0,1,0,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0
98,1,0,0,1,0,0,1,1,1,1,...,1,0,1,0,0,1,0,0,0,1
99,0,0,1,0,0,0,0,0,0,1,...,0,0,0,1,0,0,0,0,0,0
100,0,1,1,0,1,0,0,0,1,1,...,1,0,0,0,1,0,0,0,0,0

In [112]:
X = one[one.columns[: -1]]

In [113]:
Y = one["type_1"]

In [119]:
train, test = train_test_split(one, test_size = 0.3, random_state = 42)

In [130]:
asso = apriori(train, min_support = 0.3, use_colnames = True)

In [131]:
asso

      support                                           itemsets
0    0.371429                                             (hair)
1    0.642857                                             (eggs)
2    0.371429                                             (milk)
3    0.371429                                          (aquatic)
4    0.557143                                         (predator)
..        ...                                                ...
156  0.314286           (type_1, milk, tail, breathes, backbone)
157  0.300000        (type_1, tail, breathes, toothed, backbone)
158  0.342857  (type_1, milk, breathes, toothed, hair, backbone)
159  0.300000     (type_1, milk, tail, breathes, hair, backbone)
160  0.300000  (type_1, milk, tail, breathes, toothed, backbone)

[161 rows x 2 columns]

In [134]:
asso_c = association_rules(asso, metric = "confidence", min_threshold = 1)

In [135]:
asso_c

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(hair),(breathes),0.371429,0.771429,0.371429,1.0,1.296296,0.084898,inf
1,(milk),(backbone),0.371429,0.857143,0.371429,1.0,1.166667,0.053061,inf
2,(milk),(breathes),0.371429,0.771429,0.371429,1.0,1.296296,0.084898,inf
3,(type_1),(milk),0.371429,0.371429,0.371429,1.0,2.692308,0.233469,inf
4,(milk),(type_1),0.371429,0.371429,0.371429,1.0,2.692308,0.233469,inf
...,...,...,...,...,...,...,...,...,...
335,"(type_1, backbone, toothed, tail)","(milk, breathes)",0.300000,0.371429,0.300000,1.0,2.692308,0.188571,inf
336,"(toothed, milk, tail, breathes)","(type_1, backbone)",0.300000,0.371429,0.300000,1.0,2.692308,0.188571,inf
337,"(backbone, toothed, milk, tail)","(type_1, breathes)",0.300000,0.371429,0.300000,1.0,2.692308,0.188571,inf
338,"(type_1, toothed, tail)","(backbone, milk, breathes)",0.300000,0.371429,0.300000,1.0,2.692308,0.188571,inf
339,"(toothed, milk, tail)","(type_1, backbone, breathes)",0.300000,0.371429,0.300000,1.0,2.692308,0.188571,inf

In [148]:
assoc_c = []
for i in range(len(asso_c)):
  rule = asso_c.iloc[i, 1]
  if rule == 'type_1':
    assoc_c.append(asso_c)

In [149]:
assoc_c

[]

In [150]:
asso_c[asso_c.consequents == frozenset({'type_1'})]

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
4,(milk),(type_1),0.371429,0.371429,0.371429,1.0,2.692308,0.233469,inf
16,"(hair, milk)",(type_1),0.357143,0.371429,0.357143,1.0,2.692308,0.224490,inf
20,"(toothed, hair)",(type_1),0.342857,0.371429,0.342857,1.0,2.692308,0.215510,inf
23,"(backbone, hair)",(type_1),0.357143,0.371429,0.357143,1.0,2.692308,0.224490,inf
27,"(hair, tail)",(type_1),0.300000,0.371429,0.300000,1.0,2.692308,0.188571,inf
32,"(toothed, milk)",(type_1),0.357143,0.371429,0.357143,1.0,2.692308,0.224490,inf
37,"(backbone, milk)",(type_1),0.371429,0.371429,0.371429,1.0,2.692308,0.233469,inf
45,"(milk, breathes)",(type_1),0.371429,0.371429,0.371429,1.0,2.692308,0.233469,inf
49,"(milk, tail)",(type_1),0.314286,0.371429,0.314286,1.0,2.692308,0.197551,inf
81,"(toothed, hair, milk)",(type_1),0.342857,0.371429,0.342857,1.0,2.692308,0.215510,inf
92,"(backbone, hair, milk)",(type_1),0.357143,0.371429,0.357143,1.0,2.692308,0.224490,inf
102,"(hair, milk, breathes)",(type_1),0.357143,0.371429,0.357143,1.0,2.692308,0.224490,inf
106,"(hair, milk, tail)",(type_1),0.300000,0.371429,0.300000,1.0,2.692308,0.188571,inf
112,"(backbone, toothed, hair)",(type_1),0.342857,0.371429,0.342857,1.0,2.692308,0.215510,inf
116,"(toothed, hair, breathes)",(type_1),0.342857,0.371429,0.342857,1.0,2.692308,0.215510,inf
121,"(backbone, hair, breathes)",(type_1),0.357143,0.371429,0.357143,1.0,2.692308,0.224490,inf
126,"(backbone, hair, tail)",(type_1),0.300000,0.371429,0.300000,1.0,2.692308,0.188571,inf
130,"(hair, tail, breathes)",(type_1),0.300000,0.371429,0.300000,1.0,2.692308,0.188571,inf
137,"(backbone, toothed, milk)",(type_1),0.357143,0.371429,0.357143,1.0,2.692308,0.224490,inf
145,"(toothed, milk, breathes)",(type_1),0.357143,0.371429,0.357143,1.0,2.692308,0.224490,inf
149,"(toothed, milk, tail)",(type_1),0.300000,0.371429,0.300000,1.0,2.692308,0.188571,inf
154,"(backbone, milk, breathes)",(type_1),0.371429,0.371429,0.371429,1.0,2.692308,0.233469,inf
164,"(backbone, milk, tail)",(type_1),0.314286,0.371429,0.314286,1.0,2.692308,0.197551,inf
171,"(milk, tail, breathes)",(type_1),0.314286,0.371429,0.314286,1.0,2.692308,0.197551,inf
201,"(backbone, toothed, hair, milk)",(type_1),0.342857,0.371429,0.342857,1.0,2.692308,0.215510,inf
208,"(toothed, hair, milk, breathes)",(type_1),0.342857,0.371429,0.342857,1.0,2.692308,0.215510,inf
223,"(backbone, hair, milk, breathes)",(type_1),0.357143,0.371429,0.357143,1.0,2.692308,0.224490,inf
235,"(backbone, hair, milk, tail)",(type_1),0.300000,0.371429,0.300000,1.0,2.692308,0.188571,inf
242,"(hair, milk, tail, breathes)",(type_1),0.300000,0.371429,0.300000,1.0,2.692308,0.188571,inf
249,"(backbone, toothed, hair, breathes)",(type_1),0.342857,0.371429,0.342857,1.0,2.692308,0.215510,inf
256,"(backbone, hair, tail, breathes)",(type_1),0.300000,0.371429,0.300000,1.0,2.692308,0.188571,inf
267,"(backbone, toothed, milk, breathes)",(type_1),0.357143,0.371429,0.357143,1.0,2.692308,0.224490,inf
277,"(backbone, toothed, milk, tail)",(type_1),0.300000,0.371429,0.300000,1.0,2.692308,0.188571,inf
282,"(toothed, milk, tail, breathes)",(type_1),0.300000,0.371429,0.300000,1.0,2.692308,0.188571,inf
288,"(backbone, milk, tail, breathes)",(type_1),0.314286,0.371429,0.314286,1.0,2.692308,0.197551,inf
302,"(milk, breathes, toothed, hair, backbone)",(type_1),0.342857,0.371429,0.342857,1.0,2.692308,0.215510,inf
317,"(milk, tail, breathes, hair, backbone)",(type_1),0.300000,0.371429,0.300000,1.0,2.692308,0.188571,inf
332,"(milk, tail, breathes, toothed, backbone)",(type_1),0.300000,0.371429,0.300000,1.0,2.692308,0.188571,inf